/kafka/log/kafka1/*
/kafka/log/kafka2/*
/kafka/log/kafka3/*
/kafka_monitoring/ssl/ca-key
/kafka_monitoring/grafana/data/*
/kafka_monitoring/prometheus/data/*
/zookeeper/data/zookeeper1/version-2/*
/zookeeper/data/zookeeper2/version-2/*
/zookeeper/data/zookeeper3/version-2/*
__temp/*